@charset "UTF-8";

/* ALL */
html {
  font-size: 100%;
}

body {
  line-height: 1.7;
  color: #432;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* header */
header {
  background-color: rgb(194, 194, 194);
}

.page-header .wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

.logo{
  margin: 10px;
  max-height: 100px;
}

.logo-all {
  display: flex;
  justify-content: center;
  height: 90px;
}

.main-nav {
  font-family: "WDXL Lubrifont JP N";
  font-weight: 800;
  letter-spacing: 0.3rem;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 20px 0 0;
  padding: 0 0 8px 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.main-nav li {
  margin-left: 20px;
  font-weight: 500;
}

.main-nav a {
  color: rgb(144, 88, 146);
}

.main-nav a:hover {
  color: rgb(238, 238, 238);
}




/* home */
.home-content {
  text-align: center;
  margin-top: 15%;
  margin-bottom: 15%;
}

.home-content p {
  font-size: 1.125rem;
  font-family: "WDXL Lubrifont JP N";
  letter-spacing: 0.5rem;
  color: #fff;
}

/* 見出し */
.kamura-logo{
  line-height: 0;
  margin: 0;
}

.page-title {
  margin: 10px 0;
  font-size: 5rem;
  font-family: "WDXL Lubrifont JP N";
  letter-spacing: 0.3rem;
  text-shadow: 4px 4px 0 #75ff69;
  text-transform: uppercase;
  font-weight: 500;
  background: linear-gradient(45deg, rgb(147, 68, 150), #a4c9ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(112, 69, 109);
}

/* ボタン */
.button {
  font-size: 0.8rem;
  color: #fff;
  border-radius: 5px;
  padding: 9px 25px;
  font-family: "WDXL Lubrifont JP N";
  letter-spacing: 0.3rem;
  background: linear-gradient(45deg, rgb(147, 68, 150), #a4c9ff);
}

.button:hover {
  background: rgb(238, 238, 238);
  color: rgb(144, 88, 146);
  font-weight: 500;
}

/* 背景画像大 */
#home {
  background-image: url(back_01.webp);
  min-height: 100vh;
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 50px;
  background-color: #e2e2e2;
  background-blend-mode: multiply;
}

#home .page-title {
  text-transform: none;
}

/* カルーセル全体 */
.carousel {
  width: 100%;
  overflow: hidden; /* ← もうスクロールバー不要 */
  cursor: grab;
}

.carousel-track {
  display: flex;
  will-change: transform; /* iOSでスムーズにする最適化 */
  transition: none;       /* JS制御なのでCSSトランジション不要 */
}

.carousel-item {
  flex: 0 0 200px; /* アイテム幅固定 */
  max-width: 40%;
  display: inline-block;
  margin-right: 10px;
  filter: drop-shadow(5px 5px 0 #765297);
}
