@charset "UTF-8";

/* 段落のスタイル */
body {
  margin: 0;
  background-color: #e7e7e7;
  font-family: sans-serif;
}

header{
  height: 160px;
  background: url(LOGO.webp) center/cover rgb(44 40 91);
}

h1{
  margin: 32px;
  font-size: 22px;
  color: rgb(139 67 138);
  text-align: center;
  border-bottom: 2px solid;
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.top {
  border: 2px solid rgb(140 194 35);
  border-radius: 16px;
  width: fit-content;
  max-width: 90vw;
  margin: 16px auto;
  text-align: center;
  color: rgb(80, 80, 80);
  font-style: bold;
  background-color: rgb(214, 214, 214);
  box-shadow: 0 0 10px rgb(182, 176, 181);
}

a {
/* text-decoration: none; */
  color: inherit;
  font-size: large;
  display: block;
  margin: 8px 0 0 0;
}

p {
  margin: 0 auto;
  width: 50%;
  min-width: 280px;
  min-height: 32px;
  padding: 8px;
}

@media (max-width: 600px) {
  p {
    width: 90%;
  }
}

footer {
  color: rgb(83, 83, 83);
  display: block;
  margin: 16px auto;
  width: fit-content;
}
