@charset "UTF=8";

/* 段落のスタイル */
body {
  margin: 0;
}
img{
  display: block;
  margin: 0 auto;
}
a{
  display: block;
  margin: 16px auto;
  width:fit-content;
}
p {
  background-color: rgb(255, 255, 255);
  /* margin: 0 0 0 16px; */
  /* margin: 0 0 0 auto; */
  /* 左右のみ */
  margin: 0 auto;
  width: 50%;
  /* max-width: 400px; */
  min-width: 280px;
  min-height: 32px;
 border: 2px solid rgb(192, 141, 240); 
 /* padding-left: 16px; */
 padding: 16px 8px;
 text-align: center;
 width:fit-content;

}
footer{
  display: block;
  margin: 0 auto;
  width:fit-content;
}