@charset "UTF-8";

/* 段落のスタイル */
*{
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #e7e7e7;
  font-family: sans-serif;
  font-weight: normal;
}

header{
  height: 160px;
  background: url(LOGO.webp) center/cover rgb(44 40 91);
}

.title-1{
  margin: 16px;
  font-size: 22px;
  color: rgb(139 67 138);
  text-align: center;
  line-height: 2;
  border-bottom: 2px solid;
}

.kamura-icon {
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.top {
  border: 2px solid rgb(139 67 138);
  border-radius: 16px;
  width: fit-content;
  max-width: 90vw;
  margin: 16px auto;
  text-align: center;
  color: rgb(80, 80, 80);
  font-weight: normal;
  background-color: rgb(214, 214, 214);
  box-shadow: 0 0 10px rgb(182, 176, 181);
}

.top a {
/* text-decoration: none; */
  color: inherit;
  font-size: large;
  display: block;
  margin: 8px 0 0 0;
}

.read-0{
  color: rgb(80, 80, 80);
}

.x {
  display: block;
  border-radius:16px;
  background-color: rgb(214, 214, 214);
  padding:8px;
  text-align: center;
  color: inherit;
  margin: 0 auto;
  width: 50%;
  min-width: 280px;
  max-width: 17rem;

}
p {
  margin: 0 auto;
  width: 50%;
  min-width: 280px;
  min-height: 32px;
  padding: 8px;
}

.read{
  max-width: 17rem;
}

footer {
  color: rgb(83, 83, 83);
  display: block;
  margin: 16px auto;
  width: fit-content;
}
